<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624649898842-u45lhetp0f25j7mjj2cuvffl0fdkb49r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624649898842-u45lhetp0f25j7mjj2cuvffl0fdkb49r</string>
	<key>API_KEY</key>
	<string>AIzaSyDIXNsj20z_2hdNlqMgLXrDOCz2PFe3o30</string>
	<key>GCM_SENDER_ID</key>
	<string>624649898842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playTennis</string>
	<key>PROJECT_ID</key>
	<string>playtennisapp-e9987</string>
	<key>STORAGE_BUCKET</key>
	<string>playtennisapp-e9987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624649898842:ios:98b9a181e4fa38e6574163</string>
</dict>
</plist>